@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #FF7979;
  font-family: 'Poppins', sans-serif;
  background-image: url('./assets/images/bg-intro-mobile.png');
}

.main{
display: flex;
  flex-direction: column;
  align-items: center;
  min-height:100vh;
}

@media (min-width:800px){
  body {
      background-image: url('./assets/images/bg-intro-desktop.png');
      min-height:100vh;
    }
}
@media (min-width:1200px) {
  .main {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
}

